.search-bar {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center
}

.search-bar__input {
    font-size: 1.4rem;
    flex: 1;
    padding: .7rem 1rem;
    outline: none;
}

.search-bar__button {
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    background-color: #EF5350;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        background-color: #E53935;
    }
}